%h2 Register your stolen bike
%p
  Filling out this information will register you - and your bike - into the SBR database.
%p
  If you are wary about filling out forms, please see our privacy policy. In short, we won't show your contact info unless you specify, and we won't resell or retrade any of your information - the only thing we're going to do with your info is use it to notify you if someone 'finds' your bike by running its serial number.
%p
  If you haven't filed a police report on your stolen bike yet, please consider doing so before registering here. Many cities now let you file police reports online, and having a police report on file greatly increases your chance of recovery.
%p
  Once you submit this form, you will be emailed a link that will let you edit this listing after the fact.
.alert.alert-danger
  Are you registering a motorcycle, moped, or scooter? THEN STOP! If you are registering a stolen motorcycle, moped, or scooter, go to www.stolenmotorcycleregistry.com instead!
= render 'form'