body {
  background-color: #ffe;
}

.navbar-inner {
  background-color: #87cefa;
  background-image: none;
  padding: 5px 0px;
}

.navbar .nav > li > a{
  color: #444;
  font-size: 16px;
  font-weight: 500;
  text-shadow: none;
}